<script src="https://fast.wistia.com/embed/medias/{{ wistia_id }}.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

{{ if embed_mode == "popup" }}

<!-- Wistia popup embed -->

<div class="wistia_popup">

    <span class="wistia_embed wistia_async_{{ wistia_id }} popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:84px;position:relative;width:150px">
        &nbsp;
    </span>

    <div class="wistia_popup_meta">
        {{ if show_title }}
        <h4 class="wistia_popup_title" id="wistia_meta_title_{{ wistia_id }}"></h4>
        {{ /if }}
        <div class="wistia_popup_details" id="wistia_meta_other_{{ wistia_id }}">
            {{ if show_duration }}
            <div class="wistia_popup_duration" id="wistia_meta_duration_{{ wistia_id }}"></div>
            {{ /if }}
            {{ if track_completion }}
            <div class="wistia_popup_completion wistia_meta_complete_{{ wistia_id }}"></div>
            {{ /if }}
            {{ if track_finish }}
            <div class="wistia_popup_finished" id="wistia_meta_finished_{{ wistia_id }}"></div>
            {{ /if }}
        </div>
    </div>

</div>

{{ else }}

<!-- Wistia inline embed -->
<div class="wistia_inline">
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_{{ wistia_id }} videoFoam=true" style="height:100%;position:relative;width:100%">
                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                    <img src="https://fast.wistia.com/embed/medias/{{ wistia_id }}/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                </div>
            </div>
        </div>
    </div> 

    <div class="wistia_inline_meta">
        {{ if show_title }}
        <h4 class="wistia_inline_title" id="wistia_meta_title_{{ wistia_id }}"></h4>
        {{ /if }}
        <div class="wistia_inline_details" id="wistia_meta_other_{{ wistia_id }}">
            {{ if show_duration }}
            <div class="wistia_inline_duration" id="wistia_meta_duration_{{ wistia_id }}"></div>
            {{ /if }}
            {{ if track_completion }}
            <div class="wistia_inline_completion wistia_meta_complete_{{ wistia_id }}"></div>
            {{ /if }}
            {{ if track_finish }}
            <div class="wistia_inline_finished" id="wistia_meta_finished_{{ wistia_id }}"></div>
            {{ /if }}
        </div>
    </div>
</div>

{{ /if }}


<script>

    // hook to wistia embed

    window._wq = window._wq || [];

    // hook to specific videos for the possibility of various configs

    _wq.push({ id: "{{ wistia_id }}", onReady: function(video) {

        // show title
        {{ if show_title }}
            document.getElementById('wistia_meta_title_{{ wistia_id }}').innerText = video._mediaData.name;
        {{ /if }}

        // show duration
        {{ if show_duration }}
            document.getElementById('wistia_meta_duration_{{ wistia_id }}').innerText = 
            Math.ceil(video.duration() % 3600 / 60).toString() + "m";
        {{ /if }}

        // parse complete and finish cookies
        var cdata = [];
        var fdata = [];
        var cwatch = true;
        var fwatch = true;
        
        var cookieArr{{wistia_id}} = document.cookie.split(";");
        var cA{{wistia_id}}ln = cookieArr{{wistia_id}}.length;

        for(var i = 0; i < cA{{wistia_id}}ln; i++) {

            var cookiePair = cookieArr{{wistia_id}}[i].split("=");

            if('wistiaComplete' == cookiePair[0].trim()) {
                var cdata = JSON.parse(atob(decodeURIComponent(cookiePair[1])));
                cdata.forEach(function(item) {
                    cwatch = false;
                    var metaCompletes = document.querySelectorAll('.wistia_meta_complete_' + item);
                    for(var i = 0; i < metaCompletes.length; i++) {
                       metaCompletes[i].innerText = 'Completed';
                    }
                });
            }
        }



        // mark complete

        if (cwatch) {

            console.log('watch for complete {{ wistia_id }}');

            video.bind('secondchange', function(t) {

                if (video.percentWatched() > 0.9) {

                    document.querySelectorAll('.wistia_details_complete_{{ wistia_id }}').forEach(function(el) {
                        el.parentNode.classList.add('active', 'complete');
                    });

                    cdata.push('{{ wistia_id }}');

                    document.cookie = "wistiaComplete="+ btoa(JSON.stringify(cdata)) + "; path=/;max-age=" + 30*24*60*60;
                    
                    return video.unbind;
                    
                }
            });
        }

        // mark finished

        if (fwatch) {

            console.log('watch for finish {{ wistia_id }}');

            video.bind('end', function(t) {

                {{ if track_finish }}

                    document.getElementById('wistia_meta_finished_{{ wistia_id }}').innerText = "Finished";

                {{ /if }}

                var detailsFinished = document.getElementById('wistia_details_finished_{{ wistia_id }}');

                if (detailsFinished) {
                    detailsFinished.innerText = "Finished";
                    detailsFinished.classList.add('wistia_details_finished_mark');
                }

                fdata.push('{{ wistia_id }}');

                document.cookie = "wistiaFinished="+ btoa(JSON.stringify(fdata)) + "; path=/;max-age=" + 30*24*60*60;

                return video.unbind;

            });
        }

    }});


</script>
