<span class="wistia_details_complete" id="wistia_details_complete_{{ wistia_id }}"></span>
<script>
    var cookieArrDetail{{wistia_id}} = document.cookie.split(";");
    var cAD{{wistia_id}}ln = cookieArrDetail{{wistia_id}}.length;
    for(var i = 0; i < cAD{{wistia_id}}ln; i++) {
        var cookiePairDC{{wistia_id}} = cookieArrDetail{{wistia_id}}[i].split("=");
        if('wistiaComplete' == cookiePairDC{{wistia_id}}[0].trim()) {
            var data = JSON.parse(atob(decodeURIComponent(cookiePairDC{{wistia_id}}[1])));
            var dl = data.length;
            for(var i = 0; i < dl; i++) {
                if ('{{ wistia_id }}' == data[i]) {
                    document.getElementById('wistia_details_complete_{{ wistia_id }}').parentNode.classList.add('active');
                }
            }
        }
    }
</script>
