<span class="wistia_details_complete wistia_details_complete_{{ wistia_id }}"></span>
<script>
    var cookieArrDetail{{wistia_id}} = document.cookie.split(";");
    var cAD{{wistia_id}}ln = cookieArrDetail{{wistia_id}}.length;
    for(var i = 0; i < cAD{{wistia_id}}ln; i++) {
        var cookiePairDC{{wistia_id}} = cookieArrDetail{{wistia_id}}[i].split("=");
        if('wistiaComplete' == cookiePairDC{{wistia_id}}[0].trim()) {
            var data = JSON.parse(atob(decodeURIComponent(cookiePairDC{{wistia_id}}[1])));
            data.forEach(function(item) {
                document.querySelectorAll('.wistia_details_complete_' + item).forEach(function(el) {
                        el.parentNode.classList.add('active', 'complete');
                });
            });
        }
    }
</script>
