<span class="wistia_details_duration" id="wistia_details_duration_{{ wistia_id }}"></span>

<script>

    var xhttp_{{wistia_id}} = new XMLHttpRequest();

    function getDecimal(n) {
        return (n - Math.floor(n));
    }

    xhttp_{{wistia_id}}.onreadystatechange = function() {   
        if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(xhttp_{{wistia_id}}.responseText);
                var durationSeconds = (data.media.duration / 60);
                var decimalSeconds = getDecimal(durationSeconds) * 60;
                document.getElementById('wistia_details_duration_{{ wistia_id }}').innerText = durationSeconds.toFixed() + "." + Math.round(decimalSeconds) + " min";
            }
        };

    xhttp_{{wistia_id}}.open("GET", "https://fast.wistia.com/embed/medias/{{ wistia_id }}.json", true);

    xhttp_{{wistia_id}}.send();

</script>
