<span class="wistia_details_finished" id="wistia_details_finished_{{ wistia_id }}"></span>

<script>
    /*
    var cookieArrDetailF{{wistia_id}} = document.cookie.split(";");
    var cADF{{wistia_id}}ln = cookieArrDetailF{{wistia_id}}.length;
    for(var i = 0; i < cADF{{wistia_id}}ln; i++) {
        var cookiePairDF{{wistia_id}} = cookieArrDetailF{{wistia_id}}[i].split("=");
        if('wistiaFinished' == cookiePairDF{{wistia_id}}[0].trim()) {
            var fdata = JSON.parse(atob(decodeURIComponent(cookiePairDF{{wistia_id}}[1])));
            var fdl = fdata.length;
            for(var i = 0; i < fdl; i++) {
                if ('{{ wistia_id }}' == fdata[i]) {
                    document.getElementById('wistia_details_finished_{{ wistia_id }}').innerText = "Finished";
                }
            }
        }
    }*/
</script>
